streamlit
pypdf
langchain
torch
accelerate
bitsandbytes
transformers
sentence_transformers
faiss_cpu
streamlit-chat
ctransformers
pyodbc
paho-mqtt==1.6.1
redis
pika
kafka-python
pycryptodome
passlib
PyJWT
fastapi
uvicorn